:root {
    --BackgroundPrimaryColor: #d3d3d3; /* Background */
    --BackgroundPanelColor: #ffffff; /* 2nd Background */
    --BackgroundTitleBarColor: #E3E4E6;
    --BackgroundContentTitleBarColor: #e7e7e7;
    --AsccentColor: #CB8213; /* Buttons */
    --TextColor: #4b4b4b; /* text */
    --DarkColor: #363636; /* text */
    --ErrorColor: #E53935; 
    --CorrectColor: #43A047;

    --TextColor-White: #ffffff;
    --TextColor-Red: #DA121A;
    --TextColor-Gold: #F9AE28;
    --TextColor-LightBlack: #333333;
    --TextColor-Black: #0F1419;
    --TextColor-Hint-Gray: #797979;

    --Button-Background-Red: #DA121A;
    --Button-Background-Active-Red: #9A110D;
    --Button-Background-Gold: #F9AE28;
    --Button-Background-Active-Gold: #DA121A;

    --Selected-Background-LightBlack: #333333;

    --Panel-Background-LightBlack: #333333;
    --Panel-Background-Gold: #FFCC00;
    --Panel-Background-Red: #DA121A;
    --Panel-Background-White: #ffffff;
    --Panel-Background-DarkWhite: #F2F2F2;

    --color-White: #ffffff;
    --color-DarkWhite: #F2F2F2;
    --color-Red: #DA121A;
    --color-DarkRed: #9A110D;
    --color-Gold: #FFCC00;
    --color-DarkGold: #F9AE28;
    --color-Gray: #282828;
    --color-LightBlack: #333333;
    --color-Black: #0F1419;
}

@font-face {
    font-family: 'font-OldEnglishText';
    src: url('../fonts/OldEnglishText.ttf') format('truetype');
}

@font-face {
    font-family: 'font-montserratt';
    src: url('../fonts/Montserratt.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cursor-pointer,
button {
    cursor: pointer;
}

hr {
    width: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    place-content: center;
    background-color: #da1219;
    background-image: url("../images/bgPattern.png");
    background-repeat: repeat ;
    background-blend-mode:multiply;
  }


.content-container {
    width: 30%;
    height: fit-content;
    background-color: var(--Panel-Background-White);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}


.content-container .header-box { 
    grid-area: 1 / 1 / 2 / 3; 
    display: flex;
    justify-content: space-between;
}

.content-container .header-box .left-header {
    display: flex;
}

.content-container .header-box .right-header {
    display: flex;
    align-items: center;
}

.content-container .header-box .sscr-image {
    height: 100%;
}

.content-container .header-box .sscr-image img {
    aspect-ratio: 1/1;
    height: 100%;
}

.content-container .header-box .sscr-text{
    align-self: center;
    margin-left: 10px;
    font-family: 'font-OldEnglishText';
    font-weight: 550;
    color: var(--TextColor-Black);
}

.content-container .header-box .sscr-text .text1{
    font-size: 1rem;
}

.content-container .header-box .sscr-text .text2{
    font-size: 1rem;
}

.content-container .header-box .sscr-text .line{
    width: 297px;
    height: 0px;
    border: 1px solid var(--color-Red);
}

.content-container .left-box {
     grid-area: 2 / 1 / 3 / 2; 
     height: fit-content;
     display: grid;
     place-items: center;
     font-family: "font-montserratt";
}

.content-container .left-box .welcome {
    font-size: 0.7rem;
    padding-bottom: 10px;
}

.content-container .left-box .logo {
    aspect-ratio: 1/1;
    height: 75px;
}

.content-container .left-box .title {
    font-size: 1.5rem;
    font-weight: 600;
}

.content-container .left-box .quote {
    font-size: 0.8rem;
    font-weight: 500;
}

.content-container .left-box .intro {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: justify;
}

.content-container .left-box .button-contianer {
    margin-top: 8px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    gap: 12px;
}

.content-container .left-box .button-contianer > * {
    padding: 6px;
    width: 100%;
    transition: 100ms;
    border-radius: 5px;
    overflow: hidden;
    font-size: 0.7rem;
   
}

.content-container .left-box .button-contianer .moreinfo-btn {
    border-color: var(--Button-Background-Red);
    color: var(--TextColor-Red);
}

.content-container .left-box .button-contianer .signin-btn {
    background-color: var(--Button-Background-Red);
    color: var(--TextColor-White);
}


.content-container .left-box .button-contianer > *:hover {
    transform: scale(0.99);
    border-color: var(--color-DarkGold);
}

.content-container .left-box .button-contianer > *:active {
    transform: scale(0.97);
    background-color: var(--Button-Background-Active-Red);
    color: var(--TextColor-White);
}

.content-container .right-box {
    grid-area: 2 / 2 / 3 / 3; 
    height: fit-content;
}

.content-container .right-box img {
    width: 100%;
    height: fit-content;
    aspect-ratio: 1/1;
}







.form-background {
    z-index: 40;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b2;
    justify-content: center;
    align-items: center;
}

.pin-container,
.create-pin-container,
.otp-container,
.login-container {
    width: 350px;
    height: fit-content;
    background-color: var(--Panel-Background-DarkWhite);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    
}

.pin-container .form-title,
.create-pin-container .form-title,
.otp-container .form-title,
.login-container .form-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.pin-container .form-title .title,
.create-pin-container .form-title .title,
.otp-container .form-title .title,
.login-container .form-title .title{
    font-size: 1.5rem;
}

.pin-container .form-title .subtitle,
.create-pin-container .form-title .subtitle,
.otp-container .form-title .subtitle,
.login-container .form-title .subtitle{
    font-size: 1rem;
}

.pin-container .form-title .note,
.create-pin-container .form-title .note,
.otp-container .form-title .note,
.login-container .form-title .note{
    font-size: 0.8rem;
}

.pin-container label,
.create-pin-container label,
.otp-container label{
    font-size: 0.8rem;
}

.pin-container .note p,
.create-pin-container .note p,
.otp-container .note p,
.login-container .note p{
    font-size: 0.9rem;
    color: var(--ErrorColor);
}

.pin-container input[type="password"],
.create-pin-container input[type="password"]{
    margin: auto;
    text-align: center;
    width: 100px;
    padding: 4px;
    letter-spacing: 0.5rem;
}

.otp-container input[type="text"] {
    margin: auto;
    text-align: center;
    width: 150px;
    padding: 4px;
    letter-spacing: 0.5rem;
}

.login-container .input-container {
    margin: auto;
    width: 100%;
    position: relative;
    margin-top: 10px;
    height: fit-content;
    padding: 8px;
    z-index: 1;
}

.login-container .input-container input {
    width: 100%;
    padding: 8px 10px;
    font-size: 0.8rem;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
    background-color: var(--Panel-Background-White);
    border-radius: 3px;
    z-index: 1;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.30);
  }

  .login-container .input-container input:focus {
    border-bottom: 1px solid var(--TextColor-Gold);
}

.login-container .input-container label {
    position: absolute;
    top:5px;
    left: 18px;
    padding: 10px 0;
    font-size: 0.9rem;
    color: rgb(153, 153, 153);
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none;
    transition: .5s;
    z-index: 1;
  }
  
.login-container .input-container input:focus ~ label,
.login-container .input-container input:valid ~ label {
    top: -18px;
    left: 10px;
    color: var(--TextColor-Gold);
    font-size: 0.8rem;
  }


.pin-container button,
.create-pin-container button,
.otp-container button,
.login-container button{
    cursor: pointer;
    padding: 2px;
    width: 75px;
    border-color: var(--Button-Background-Gold);
    background-color: var(--Button-Background-Gold);
    color: rgb(31, 31, 31);
    font-weight: bold;
}

.pin-container button:hover,
.create-pin-container button:hover,
.otp-container button:hover,
.login-container button:hover{
    cursor: pointer;
    transform: scale(0.98);
    border-color: var(--color-DarkGold);
}

.pin-container button:active,
.create-pin-container button:active,
.otp-container button:active,
.login-container button:active{
    cursor: pointer;
    transform: scale(0.9);
    background-color: var(--Button-Background-Active-Red);
    color: var(--TextColor-White);
}


















@media (max-width: 768px) {
    .content-container {
        width: 90%;
        height: fit-content;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
    }
  
    .content-container .header-box {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 75px;
    }
    .content-container .header-box .left-header {
        height: 100%;
        align-items: center;
    }

    .content-container .header-box .right-header {
        display: none;
    }

    .content-container .left-box {
      grid-area: auto; /* Reset grid-area */
      text-align: center;
    }

    .content-container .right-box {
        display: none;
    }
  
    .content-container .left-box .button-contianer {
      flex-direction: column;
      align-items: center;
    }
  
    .content-container .left-box .button-contianer > * {
      width: 100%;
    }
  
    .content-container .right-box {
      display: none; /* Hide the right-box */
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Styles for tablets */
    
    .content-container {
        width: 600px;
        height: 400px;
    }
  }
  
  @media (min-width: 1025px) {
    /* Styles for wide screens */
    
    .content-container {
      width: 600px;
      height: 400px;
    }
  }





  .test-links {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .test-links button {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .test-links button a{
    text-decoration: none;
  }