.panel-cashinform-content {
    width: 98%;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
}

/* .panel-cashinform-content * {
    border: 1px dotted red;
} */

.panel-cashinform-content .right-container {
    width: 35%;
    height: 100%;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    overflow-y: scroll;
}

.panel-cashinform-content .left-container {
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 50%;
}

.panel-cashinform-content .left-container .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid gainsboro;
}

.panel-cashinform-content .left-container .header .title {
    font-size: smaller;
    font-weight: bold;
}

.panel-cashinform-content .left-container .header .help {
    font-size: smaller;
}

.panel-cashinform-content .left-container .input-container {
    padding-left: 25px;
    width: 100%;
    padding-right: 25px;
}

.panel-cashinform-content .left-container .input-container input {
    width: 100%;
}


.panel-cashinform-content .left-container .transfer {
    
    width: 100px;
}





.panel-cashinform-content .right-container .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid gainsboro;
}

.panel-cashinform-content .right-container .title {
    font-size: smaller;
    font-weight: bold;
}

.panel-cashinform-content .right-container .date {
    font-size: smaller;
}

.panel-cashinform-content .right-container ul {
    list-style-type: none;
    padding: 0;
}

.panel-cashinform-content .right-container ul li {
    padding: 10px;
    padding-left: 15px;
    border-bottom: 1px solid gainsboro;
    align-items: center;
    display: grid;
}

.panel-cashinform-content .right-container ul li{
    grid-template-columns: 50px auto 50px;
}

.panel-cashinform-content .right-container ul li img {
    height: 40px;
    width: 40px;
    border: 1px solid gainsboro;
    border-radius: 50%;
}

.panel-cashinform-content .right-container ul li .name {
    font-weight: bold;
}

.panel-cashinform-content .right-container ul li .date {
    
}

.panel-cashinform-content .right-container ul li .amount {
    
}

.panel-cashinform-content .right-container ul li .type {
    
}

