.panel-fundremittance-content {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 100%;
    gap: 10px;
    justify-content: space-around;
}

.panel-fundremittance-content > div{
    flex: 0 0 49%;
    border: 1px solid gainsboro;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.panel-fundremittance-content .left-panel{
    overflow: hidden;

}

.panel-fundremittance-content .left-panel .top-panel{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 0 0 100px;
}

.panel-fundremittance-content .left-panel .top-panel .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.panel-fundremittance-content .left-panel .top-panel .row *{
    margin-bottom: 5px;
}

.panel-fundremittance-content .left-panel .top-panel .row input[type="date"]{
    width: 25px;
}

.panel-fundremittance-content .left-panel .top-panel .row input[type="text"],
.panel-fundremittance-content .left-panel .top-panel .row input[type="date"]{
    
}



.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.panel-fundremittance-content .left-panel .bottom-panel{
    padding: 0px;
}



.panel-fundremittance-content .right-panel {
    overflow: hidden;
}
.panel-fundremittance-content .right-panel .header{
    font-size: 1rem;
}

.panel-fundremittance-content .left-panel .table-container,
.panel-fundremittance-content .right-panel .table-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.panel-fundremittance-content .left-panel .table-container .table-content,
.panel-fundremittance-content .right-panel .table-container .table-content{  
    height: 100%;
    overflow-y: scroll;
}

.panel-fundremittance-content .left-panel .table-container .table-row,
.panel-fundremittance-content .right-panel .table-container .table-row{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid ghostwhite;

}

.panel-fundremittance-content .left-panel .table-container .table-row > div,
.panel-fundremittance-content .right-panel .table-container .table-row > div {
    width: calc(100% / 4);
    text-align: center;
    text-wrap: nowrap;
}

.panel-fundremittance-content .left-panel .table-container .table-header,
.panel-fundremittance-content .right-panel .table-container .table-header {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}




