
:root {
    --BackgroundPrimaryColor: #d3d3d3; /* Background */
    --BackgroundPanelColor: #ffffff; /* 2nd Background */
    --BackgroundTitleBarColor: #E3E4E6;
    --BackgroundContentTitleBarColor: #e7e7e7;
    --AsccentColor: #CB8213; /* Buttons */
    --TextColor: #4b4b4b; /* text */
    --DarkColor: #363636; /* text */
    --ErrorColor: #E53935; 
    --CorrectColor: #43A047;

    --TextColor-White: #ffffff;
    --TextColor-Red: #DA121A;
    --TextColor-Gold: #F9AE28;
    --TextColor-LightBlack: #333333;
    --TextColor-Black: #0F1419;

    --Button-Background-Red: #DA121A;
    --Button-Background-Active-Red: #9A110D;
    --Button-Background-Gold: #F9AE28;
    --Button-Background-Active-Gold: #DA121A;

    --Selected-Background-LightBlack: #333333;

    --Panel-Background-LightBlack: #333333;
    --Panel-Background-Gold: #FFCC00;
    --Panel-Background-Red: #DA121A;
    --Panel-Background-White: #ffffff;
    --Panel-Background-DarkWhite: #F2F2F2;

    --color-White: #ffffff;
    --color-DarkWhite: #F2F2F2;
    --color-Red: #DA121A;
    --color-DarkRed: #9A110D;
    --color-Gold: #FFCC00;
    --color-DarkGold: #F9AE28;
    --color-Gray: #282828;
    --color-LightBlack: #333333;
    --color-Black: #0F1419;
}






/* ################## */
/* TRANSACTIONS PANEL */
/* ################## */

    /* ############### */
    /* QUERY CONTAINER */
    /* ############### */

    .panel-staffmanagement-query {
        height: fit-content;
        margin-top: 10px;
        width: 97%;
    }
    .panel-staffmanagement-query .form-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-top: 5px;
    }

    .panel-staffmanagement-query .form-container .dropdown button{
        height: 21px;
        flex: 1;
        width: max-content;
    }

    .panel-staffmanagement-query .form-container .dropdown a {
        font-size: 0.7em;
    }

    .panel-staffmanagement-query .form-container .dropdown .dropdown-content {
        z-index: 10;
    }

    .panel-staffmanagement-query .form-container label {
        font-size: 0.7em;
        display:block;
    }

    .panel-staffmanagement-query .form-container div {
        min-width: 200px;
        flex-grow: 1;
        flex: 1;
    }

    .panel-staffmanagement-query .form-container div input {
        width: 100%;
    }

    .panel-staffmanagement-query .form-container .textbox {
        margin-right: 10px;
        width: 100%;
    }

    /* ################# */
    /* BUTTONS CONTAINER */
    /* ################# */

    .panel-staffmanagement-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        width: 97%;
        margin-bottom: 10px;
        flex-wrap:wrap;    
        gap: 5px;
        z-index: 1;
    }

    .panel-staffmanagement-buttons div {
        display: flex;
        gap: 8px;
    }

    .panel-staffmanagement-buttons div:last-child p:last-child{
        font-weight: bold;
        color: var(--TextColor-Red);
    }

    .panel-staffmanagement-buttons button {
        height: 25px;
    }

    .panel-staffmanagement-buttons button img{
        height: 100%;
        aspect-ratio: 1/1;
    }
 

    /* ############### */
    /* TABLE CONTAINER */
    /* ############### */

    .panel-staffmanagement-table {
        width: 97%;
        flex-grow: 1;
        border-radius: 3px;
        border: 1px solid var(--BackgroundContentTitleBarColor);
        overflow: auto;
    }

    .panel-staffmanagement-table table {
        border-collapse: collapse;
        width: 100%;
    }

    .panel-staffmanagement-table .table-header {
        background-color: var(--BackgroundContentTitleBarColor);
        width: 100%;
        font-size: 0.8em;
        position: sticky;
        top: 0px;
    }

    .panel-staffmanagement-table .cell{
        display: flex;
        justify-content: space-around;
        width: 100%;
        text-align: center;
        padding: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
    }

    .panel-staffmanagement-table .cell div {
        width: calc(100%/6);
    } 

    .panel-staffmanagement-table .table-header .cell p{
        font-weight: bold;
        
    }

    .panel-staffmanagement-table .col1 {
        width: 100%;
        max-width: 100%;
    }


    .panel-staffmanagement-table .table-content .staffmanagement-table tr:nth-child(even) {
        background-color: #0000000a; /* Light gray for odd items */
    }
      
      .panel-staffmanagement-table .table-content .staffmanagement-table tr:nth-child(odd) {
        background-color: rgb(255, 255, 255); /* White for even items */
      }

      .panel-staffmanagement-table .table-content .staffmanagement-table tr:hover{
        background-color: rgba(204, 101, 17, 0.26);
      }


@media (min-width: 0px) and (max-width: 768px) {
    /* Styles for phones */
    .panel-transactions-buttons {
        flex-direction: column;
    }
  }
  
  
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Styles for laptops */

  }
  
  @media (min-width: 1025px) {
    /* Styles for wide screens */
  
  }