:root {

  --TextColor-White: #ffffff;
  --TextColor-Red: #DA121A;
  --TextColor-Gold: #F9AE28;
  --TextColor-LightBlack: #333333;
  --TextColor-Black: #0F1419;

  --Button-Background-Red: #DA121A;
  --Button-Background-Active-Red: #9A110D;
  --Button-Background-Gold: #F9AE28;
  --Button-Background-Active-Gold: #DA121A;
  --Button-Background-White: #ffffff;

  --Selected-Background-LightBlack: #333333;

  --Panel-Background-LightBlack: #333333;
  --Panel-Background-Gold: #FFCC00;
  --Panel-Background-Red: #DA121A;
  --Panel-Background-White: #ffffff;
  --Panel-Background-DarkWhite: #F2F2F2;

  --color-White: #ffffff;
  --color-DarkWhite: #F2F2F2;
  --color-Red: #DA121A;
  --color-DarkRed: #9A110D;
  --color-Gold: #FFCC00;
  --color-DarkGold: #F9AE28;
  --color-Gray: #282828;
  --color-LightBlack: #333333;
  --color-Black: #0F1419;
}





/* ##################### */
/* CREATE ORDER PANEL */
/* ##################### */
  
.panel-createorder-content {
  width: 97%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 10px;


  /*
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 50px 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  */
  }
  
  .panel-createorder-content .left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .panel-createorder-content .left-panel .query-container {
    flex: 0 0 fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 4px;
  }

  .panel-createorder-content .left-panel .query-container .icon{
    margin-right: 8px;
  }

  .panel-createorder-content .left-panel .query-container .input-icon {
    position: absolute;
    height: 22px;
    top: 2px;
    left: 2px;
  }

  .panel-createorder-content .left-panel .query-container .textbox {
    height: 25px;
    text-indent: 22px;
  }

  .panel-createorder-content .left-panel .query-container div:first-child {
    position: relative;
  }

  .panel-createorder-content .left-panel .items-container {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    padding-right: 8px;
  }

/* ############# */
/* FOR LIST VIEW */
/* ############# */


/* ############# */
/* FOR GRID VIEW */
/* ############# */

.item-button {
  position: absolute;
  bottom: 5px;
  align-self: center;
  width: 75%;
  text-align: center;
}

.item-button button {
  background-color: var(--Button-Background-Gold);
  width: 100%;
  justify-content: center;
  box-shadow: 2px 2px 5px 0px var(--Panel-Background-DarkWhite);
  transition: 100ms;
  border-radius: 3px;
}

.item-button button:active {
  background-color: var(--Button-Background-Active-Gold);
  transform: scale(0.97); 
}

.item-button button p{
  color: var(--TextColor-White);
}



 








  
  .panel-createorder-content .right-panel {
    flex: 0 0 300px;
    border-radius: 4px;
  }

  .panel-createorder-content .right-panel .receipt-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--Panel-Background-DarkWhite);
    padding: 10px;
  }

  .panel-createorder-content .right-panel .receipt-container .orders {
    flex: 1;
  }

  .panel-createorder-content .right-panel .receipt-container .orders>* {
    margin-bottom: 10px;
  }

  .panel-createorder-content .right-panel .receipt-container .summary {
    flex: 0 0 fit-content;
    width: 100%;
    text-align: right;
  }

  .panel-createorder-content .right-panel .receipt-container .summary .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .panel-createorder-content .right-panel .receipt-container .summary .discount {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center ;
  }

  .panel-createorder-content .right-panel .receipt-container .summary .discount input {
    width: 50px;
  }

  .panel-createorder-content .right-panel .receipt-container .summary .total {
    font-weight: 650;
  }


  .panel-createorder-content .right-panel .receipt-container .summary>* {
    margin-top: 10px;
  }

  .panel-createorder-content .right-panel .receipt-container .summary .button-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
  }

  .panel-createorder-content .right-panel .receipt-container .summary .button-container img {
    aspect-ratio: 1/1;
    height: 1rem;
    width: 1rem;
  }

  .panel-createorder-content .right-panel .receipt-container .summary .button-container button:last-child {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #cb811344;
    padding: 5px;
    border-radius: 4px;
  }

  .panel-createorder-content .right-panel .receipt-container .summary .button-container button:first-child {
    padding: 5px;
    border-radius: 4px;
  }




@media (min-width: 0px) and (max-width: 768px) {
    /* Styles for phones */
    .panel-createorder-query .forms {
        
        flex-direction: column;
        gap: 10px;
    }
    .panel-createorder-query .forms .right-panel {
        justify-content: flex-start;
    }
    .panel-createorder-content {
      grid-template-columns: 2fr;
    }
  }
  
  
  @media (min-width: 769px) and (max-width: 1000px) {
    /* Styles for laptops */
    .panel-createorder-content {
      grid-template-columns: 2fr;
    }
    
  }
  
  @media (min-width: 1025px) {
    /* Styles for wide screens */
  
  }