/* ##################### */
/* CREATE ORDER PANEL */
/* ##################### */
  
.createorder-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;

  /*
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 50px 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  */
  }
  
  .createorder-content .left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .createorder-content .left-panel .query-container {
    flex: 0 0 fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: var(--BackgroundContentTitleBarColor);
    border-radius: 4px;
  }

  .createorder-content .left-panel .query-container .icon{
    margin-right: 8px;
  }

  .createorder-content .left-panel .query-container .input-icon {
    position: absolute;
    height: 22px;
    top: 2px;
    left: 2px;
  }

  .createorder-content .left-panel .query-container .textbox {
    height: 25px;
    text-indent: 22px;
  }

  .createorder-content .left-panel .query-container div:first-child {
    position: relative;
  }





  .createorder-content .left-panel .items-container {
    flex: 1;

  }
  
  .createorder-content .right-panel {
    flex: 0 0 300px;
    background-color: var(--BackgroundContentTitleBarColor);
    border-radius: 4px;
  }

  .createorder-content .right-panel .receipt-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .createorder-content .right-panel .receipt-container .orders {
    flex: 1;
  }

  .createorder-content .right-panel .receipt-container .orders>* {
    margin-bottom: 10px;
  }

  .createorder-content .right-panel .receipt-container .summary {
    flex: 0 0 fit-content;
    width: 100%;
    text-align: right;
  }

  .createorder-content .right-panel .receipt-container .summary .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .createorder-content .right-panel .receipt-container .summary>* {
    margin-top: 10px;
  }

  .createorder-content .right-panel .receipt-container .summary .button-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
  }

  .createorder-content .right-panel .receipt-container .summary .button-container img {
    aspect-ratio: 1/1;
    height: 1rem;
    width: 1rem;
  }

  .createorder-content .right-panel .receipt-container .summary .button-container button:last-child {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #cb811344;
    padding: 5px;
    border-radius: 4px;
  }

  .createorder-content .right-panel .receipt-container .summary .button-container button:first-child {
    padding: 5px;
    border-radius: 4px;
  }




@media (min-width: 0px) and (max-width: 768px) {
    /* Styles for phones */
    .panel-createorder-query .forms {
        
        flex-direction: column;
        gap: 10px;
    }
    .panel-createorder-query .forms .right-panel {
        justify-content: flex-start;
    }
    .panel-createorder-content {
      grid-template-columns: 2fr;
    }
  }
  
  
  @media (min-width: 769px) and (max-width: 1000px) {
    /* Styles for laptops */
    .panel-createorder-content {
      grid-template-columns: 2fr;
    }
    
  }
  
  @media (min-width: 1025px) {
    /* Styles for wide screens */
  
  }