

.panel-home-welcome {
    width: 97%;
    margin-top: 10px;
}


.panel-home-content {
    overflow-y: scroll;
    width: 100%;
    height: max-content;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75px repeat(2,150px) 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
    .header { 
        grid-area: 1 / 1 / 2 / 4; background-color: aqua;
    }
    .sales-graph { 
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: 2 / 1 / 4 / 3; background-color: aqua;
        text-align: center;
    }
    .confirmed-orders { 
        grid-area: 2 / 3 / 3 / 4; background-color: aqua;
        text-align: center;
    }
    .confirmed-sales { 
        grid-area: 3 / 3 / 4 / 4; background-color: aqua;
        text-align: center;
    }
    .orders-by-items-graph { 
        grid-area: 4 / 1 / 5 / 2; background-color: aqua;
        text-align: center;
    }
    .orders-by-category-graph { 
        grid-area: 4 / 2 / 5 / 3; background-color: aqua;
        text-align: center;
    }
    .latest-transaactions { 
        grid-area: 4 / 3 / 5 / 4; background-color: aqua;
        text-align: center;
    }
    .grid-cell {
        padding: 10px;
        border-radius: 10px;
    }

canvas {
    aspect-ratio: auto;
    overflow: hidden;
}



@media (min-width: 0px) and (max-width: 768px) {
    /* Styles for phones */
    .panel-home-container1, .panel-home-container2 {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .panel-home-container1-col1 {
        flex-direction: row;
    }

    .panel-home-card3, .panel-home-card4, .panel-home-card5{
        height: 250px;
    }

    .panel-home-card1, .panel-home-card2 {
        height: 150px;
    }

    
  }
  
  
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Styles for laptops */

  }
  
  @media (min-width: 1025px) {
    /* Styles for wide screens */
  
  }