/* ##################### */
/* ITEM MANAGEMENT PANEL */
/* ##################### */
  
  .panel-itemmanagement-query{
    width: 97%;
    margin-top: 10px;
  }

  .panel-itemmanagement-query .forms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
  }

  .panel-itemmanagement-query .forms .icon{
    margin-right: 8px;
  }

  .panel-itemmanagement-query .forms .left-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex: 2;
  }

  .panel-itemmanagement-query .forms .left-panel .input-icon {
    position: absolute;
    height: 22px;
    top: 2px;
    left: 2px;
  }

  .panel-itemmanagement-query .forms .left-panel .textbox {
    height: 25px;
    text-indent: 22px;
  }

  .panel-itemmanagement-query .forms .left-panel div:first-child {
    position: relative;
  }

  .panel-itemmanagement-content .left-panel .category-container{
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .panel-itemmanagement-query .forms .right-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }

  .panel-itemmanagement-query .forms .right-panel button {
    width: 100%;
    height: 25px;
  }

  #panel-itemmanagement .category-container {
    width: 97%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
  }


  #panel-itemmanagement .category-container p{
    position: sticky;
    top: 0;
    left: 0;
  }

  #panel-itemmanagement .category-container .category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    width: 100%;
  }

  #panel-itemmanagement  .category-container .category-list .category-item {
    transition: 300ms;
    border-radius: 5px;
    border-color: var(--color-DarkWhite);
  }

  #panel-itemmanagement .category-container .category-list .category-item:hover {
    background-color: #f9ac287a;
  }

  #panel-itemmanagement .category-container .category-list .category-item-selected {
    background-color: var(--Button-Background-Gold);
    
  }

  #panel-itemmanagement .category-container .category-list .category-item-selected p {
    color: var(--TextColor-White);
  }

  .panel-itemmanagement-content {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    width: 97%;
    padding-right: 8px;
  }

/* ############# */
/* FOR DETAIL VIEW */
/* ############# */

  .detail-layout {
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 1px;
  }

  .detail-layout .item-container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 5px;
    padding: 1px;
    background-color: #f2f2f2;
    height: 100px;
    border-radius: 3px;
    gap: 2px;
    box-shadow: 0px 0px 5px 0px rgba(75, 75, 75, 0.25);
  }

  .detail-layout .item-container .item-image img {
    height: 100%;
    aspect-ratio: 1/1;
  }

  .detail-layout .item-container .item-details-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    padding: 2px;
  }

  .detail-layout .item-container .item-details-container .info-container .info{
    margin-bottom: 2px;
  }

  .detail-layout .item-options {
    display: flex;
    flex-direction: row;
    height: fit-content;
    position: absolute;
    gap: 2px;
    bottom: 2px;
    right: 2px;
  }

  .detail-layout .item-options button {
    width: 20px;
    padding: 0px;
    margin: 0px;
  }

  .detail-layout .item-options button img{
    width: 100%;
    aspect-ratio: 1/1;
  }

  .detail-layout .item-container .item-details-container .info-container .info-created {
    padding-top: 25px;
    padding-bottom: 4px;
  }

  .detail-layout .item-container .item-details-container .info-container .info-cost {
    padding-top: 4px;
  }

  .detail-layout .item-container .item-details-container .info-container .info-created p,
  .detail-layout .item-container .item-details-container .info-container .info-modified p{
    font-size: 0.7rem;
  }

/* ############# */
/* FOR TILE VIEW */
/* ############# */

  .tile-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(126px, 1fr));
    width: 100%;
    height: fit-content;
    grid-gap: 1px;
  }

  .tile-layout .item-container {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 125px;
    border-radius: 3px;
    scroll-snap-align: start;
    box-shadow: 0px 0px 5px 0px rgba(75, 75, 75, 0.25);
    margin: 3px;
    margin-bottom: 6px;
    height: 210px;
    position: relative;
  }

  .tile-layout .item-container .item-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tile-layout .item-container .item-image img {
    width: 100%;
    aspect-ratio: 1/1;
  }

  .tile-layout .item-container .item-details-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    padding: 3px;
  }

  .tile-layout .item-container .item-details-container .info-container .info{
    margin-bottom: 3px;
  }

  .tile-layout .item-container .item-details-container .info-container .info-created,
  .tile-layout .item-container .item-details-container .info-container .info-modified {
    display: none;
  }

  .tile-layout .item-buttons button {
    width: 20px;
    height: 20px;
  }

  .tile-layout .item-options {
    display: flex;
    flex-direction: row;
    height: fit-content;
    position: absolute;
    gap: 2px;
    bottom: 4px;
    right: 4px;
  }

  .tile-layout .item-options button {
    width: 20px;
    padding: 0px;
    margin: 0px;
  }

  .tile-layout .item-options button img{
    width: 100%;
    aspect-ratio: 1/1;
  }

/* ############# */
/* FOR LIST VIEW */
/* ############# */

.list-layout {
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-gap: 1px;
}

.list-layout .item-container {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 5px;
  padding: 1px;
  background-color: #f2f2f2;
  height: 50px;
  border-radius: 3px;
  gap: 2px;
  box-shadow: 0px 0px 5px 0px rgba(75, 75, 75, 0.25);
}

.list-layout .item-container .item-image img {
  height: 0%;
  aspect-ratio: 1/1;
}

.list-layout .item-container .item-details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  padding: 2px;
}

.list-layout .item-container .item-details-container .info-container .info{
  margin-bottom: 2px;
}

.list-layout .item-options {
  display: flex;
  flex-direction: row;
  height: fit-content;
  position: absolute;
  gap: 2px;
  bottom: 2px;
  right: 2px;
}

.list-layout .item-options button {
  width: 20px;
  padding: 0px;
  margin: 0px;
}

.list-layout .item-options button img{
  width: 100%;
  aspect-ratio: 1/1;
}

.list-layout .item-container .item-details-container .info-container .info-cost {
  padding-top: 4px;
}

.list-layout .item-container .item-details-container .info-container .info-created,
.list-layout .item-container .item-details-container .info-container .info-modified{
  display: none;
}




/* ############################# */
/* FOR DIALOG BOX ADD/ EDIT ITEM */
/* ############################# */

  .Add-Item, .Edit-Item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .Add-Item .image, .Edit-Item .image {
    flex: 2;
  }
    
  .Add-Item .image img, .Edit-Item .image img {
    aspect-ratio: 1/1;
    width: 100% ;
  }

  .Add-Item .form, .Edit-Item .form {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .Add-Item .form input, .Edit-Item .form input {
    width: 100%;
  }

/* ########################## */
/* FOR DIALOG BOX DELETE ITEM */
/* ########################## */

  .Delete-Item .form .button-container {
    margin-top: 10px;
  }

/* ###################### */
/* FOR DIALOG BOX BUTTONS */
/* ###################### */

  .Add-Item .form .button-container, .Edit-Item .form .button-container, .Delete-Item .form .button-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
  }



@media (min-width: 0px) and (max-width: 1000px) {
    /* Styles for phones */
    .panel-itemmanagement-query .forms .left-panel {
      gap: 5px;
      justify-content: space-between;
    }

    .panel-itemmanagement-query .forms {
        flex-direction: column;
        gap: 10px;
    }
    .panel-itemmanagement-query .forms .right-panel {
        justify-content: flex-start;
    }
    .detail-layout {
      grid-template-columns: 2fr;
    }
    .list-layout {
      grid-template-columns: 2fr 2fr;
    }
  }
  
  
@media (min-width: 1000px) and (max-width: 1250px) {
  /* Styles for laptops */
  .detail-layout {
    grid-template-columns: 2fr 2fr;
  }

  .list-layout {
    grid-template-columns: 2fr 2fr 2fr;
  }
  
}
  
@media (min-width: 1025px) {
  /* Styles for wide screens */

}