/* ##################### */
/* ITEM MANAGEMENT PANEL */
/* ##################### */
  
  .panel-itemmanagement-query{
    width: 97%;
    margin-top: 10px;
  }

  .panel-itemmanagement-query .forms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
  }

  .panel-itemmanagement-query .forms .icon{
    margin-right: 8px;
  }

  .panel-itemmanagement-query .forms .left-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex: 2;
  }

  .panel-itemmanagement-query .forms .left-panel .input-icon {
    position: absolute;
    height: 22px;
    top: 2px;
    left: 2px;
  }

  .panel-itemmanagement-query .forms .left-panel .textbox {
    height: 25px;
    text-indent: 22px;
  }

  .panel-itemmanagement-query .forms .left-panel div:first-child {
    position: relative;
  }

  .panel-itemmanagement-query .forms .right-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }

  .panel-itemmanagement-query .forms .right-panel button {
    width: 100%;
    height: 25px;
  }

  .panel-itemmanagement-content {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    width: 97%;
    padding-right: 8px;
  }

/* ############# */
/* FOR LIST VIEW */
/* ############# */

  .list-layout {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 10px;
  }

  .list-item-container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 5px;
    padding: 1px;
    background-color: #f2f2f2;
    height: 100px;
    border-radius: 5px;
    border: 1px  solid var(--color-LightBlack);
    gap: 10px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  }

  .list-item-container .item-image img {
    height: 100%;
    aspect-ratio: 1/1;
  }

  .list-item-container .item-details-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 10px;
  }

  .list-item-container .item-details-container div {
    flex: 1;
  }

  .list-item-container .item-details-container .info-container div {
    margin-bottom: 5px;
  }

  .list-item-container .item-options {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5px;
    bottom: 5px;
    gap: 5px;
  }

  .list-item-container .item-options button {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: #f2f2f2;
    border: 0px;
    padding: 2px;
    border-radius: 3px;
    transition: 8ms ease;
  }

  .list-item-container .item-options button:hover {
    background-color: #CB821325;
  }

/* ############# */
/* FOR GRID VIEW */
/* ############# */

  .card-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(126px, 1fr));
    width: 100%;
    height: 100%;
    gap: 1px;
  }

  .card-layout .item-container {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 125px;
    border-radius: 3px;
    scroll-snap-align: start;
    box-shadow: 0px 0px 5px 0px rgba(75, 75, 75, 0.25);
    margin: 3px;
    margin-bottom: 6px;
    height: 210px;
    position: relative;
  }

  .card-layout .item-container .item-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-layout .item-container .item-image img {
    width: 100%;
    aspect-ratio: 1/1;
  }

  .card-layout .item-container .item-details-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    padding: 3px;
  }

  .card-layout .item-container .item-details-container .info-container .info{
    margin-bottom: 3px;
  }

  .card-layout .item-options {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5px;
    bottom: 5px;
    gap: 5px;
  }

  .card-layout .item-options button {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: #f2f2f2;
    border: 0px;
    padding: 2px;
    border-radius: 3px;
    transition: 8ms ease;
  }

  .card-layout .item-options button:hover {
    background-color: #CB821325;
  }

/* ############################# */
/* FOR DIALOG BOX ADD/ EDIT ITEM */
/* ############################# */

  .Add-Item, .Edit-Item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .Add-Item .image, .Edit-Item .image {
    flex: 2;
  }
    
  .Add-Item .image img, .Edit-Item .image img {
    aspect-ratio: 1/1;
    width: 100% ;
  }

  .Add-Item .form, .Edit-Item .form {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .Add-Item .form input, .Edit-Item .form input {
    width: 100%;
  }

/* ########################## */
/* FOR DIALOG BOX DELETE ITEM */
/* ########################## */

  .Delete-Item .form .button-container {
    margin-top: 10px;
  }

/* ###################### */
/* FOR DIALOG BOX BUTTONS */
/* ###################### */

  .Add-Item .form .button-container, .Edit-Item .form .button-container, .Delete-Item .form .button-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
  }



@media (min-width: 0px) and (max-width: 1000px) {
    /* Styles for phones */
    .panel-itemmanagement-query .forms .left-panel {
      gap: 5px;
      justify-content: space-between;
    }

    .panel-itemmanagement-query .forms {
        flex-direction: column;
        gap: 10px;
    }
    .panel-itemmanagement-query .forms .right-panel {
        justify-content: flex-start;
    }
    .list-layout {
      grid-template-columns: 2fr;
    }
  }
  
  
@media (min-width: 1000px) and (max-width: 1250px) {
  /* Styles for laptops */
  .list-layout {
    grid-template-columns: 2fr 2fr;
  }
  
}
  
@media (min-width: 1025px) {
  /* Styles for wide screens */

}