
#login-history-item-list {
       display: flex;
       width: 100%;
       flex-direction: column;
       padding: 10px 20px;
       gap: 20px;
}

#login-history-item-list .login-history-item {
       display: flex;
       width: 100%;
       flex-direction: column;
       padding: 10px;
       border: 1px solid gainsboro;
       border-radius: 5px;
}

#login-history-item-list .LastOnline{
       border-bottom: 1px dashed gainsboro;
       margin-bottom: 5px;
       padding-bottom: 5px;
       font-weight: bold;
}

#login-history-item-list .Device,
#login-history-item-list .IpAddress,
#login-history-item-list .Location {
       margin-bottom: 5px;
}

#login-history-item-list .remove-btn{
       text-align: center;
       align-self: center;
}

#login-history-item-list .remove-btn,
#login-history-item-list .remove-all{
       cursor: pointer;
       width: fit-content;
       border: 1px solid #F9AE28;
}

#login-history-item-list .remove-btn:hover,
#login-history-item-list .remove-all:hover{
       box-shadow: 0 0 2px 2px gainsboro;
}

#login-history-item-list .remove-btn:active,
#login-history-item-list .remove-all:active{
       background-color: #F9AE28;
}








