
.panel-applicationcontrolmanagement-content{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    gap: 20px;
}

#panel-applicationcontrolmanagement .config-group-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: fit-content;
    border: 1px solid var(--TextColor-Gold);
    border-radius: 5px;
    flex: 1;
}

#panel-applicationcontrolmanagement .config{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

#panel-applicationcontrolmanagement .config-pin-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

#panel-applicationcontrolmanagement .config-pin-container .settings{
    padding: 10px;
    border: 1px solid var(--color-DarkGold);
} 

#panel-applicationcontrolmanagement .config-pin-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

#panel-applicationcontrolmanagement .config-pin-container button{
    border-color: var(--Button-Background-Gold);
    cursor: pointer;
}

#panel-applicationcontrolmanagement .settings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

#panel-applicationcontrolmanagement .config-title {
    font-size: 1rem;
    font-weight: bold;
    color: var(--TextColor-Red);
}

#panel-applicationcontrolmanagement .switch input:checked + .slider {
    background-color: var(--color-Red);
  }
  
#panel-applicationcontrolmanagement .switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-Red);
  }

#panel-applicationcontrolmanagement .config input[type='text']{
    padding: 5px 10px;
}

#Config-Submit {
    cursor: pointer;
    padding: 5px 20px;
    background-color: var(--Button-Background-Gold);
    transition: 0.5s;
    border-radius: 5px;
}
#Config-Submit:hover {
    box-shadow: 0px 0px 2px 2px gainsboro;
}
#Config-Submit:active {
    background-color: var(--Button-Background-Active-Gold);
    color: white;
}