


.panel-cashinform-content {
    padding: 50px;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: auto;
    justify-items: center
}

/* .panel-cashinform-content * {
    border: 1px dotted red;
} */

.panel-cashinform-content button {
    cursor: pointer;
}

.panel-cashinform-content .right-container {
    width: 300px;
    height: 100%;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    overflow-y: auto;
}

.panel-cashinform-content .left-container {
    padding-bottom: 20px;
    position: relative;
    border: 1px solid gainsboro;
    text-align: center;
    gap: 20px;
    height: 100%;
    width: 300px;
    overflow-y: auto;
}

.panel-cashinform-content .left-container .content-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    overflow: hidden;
    height: fit-content;
    width: 100%;
    
}

.details-container{
    width: 100%;
}

.panel-cashinform-content .left-container .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid gainsboro;
}

.panel-cashinform-content .left-container .header .title {
    font-size: smaller;
    font-weight: bold;
}

.panel-cashinform-content .left-container .header .help {
    font-size: smaller;
}

.panel-cashinform-content .left-container .input-container {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    width: 100%;
    padding-right: 25px;
}

.panel-cashinform-content .left-container .input-container input {
    width: 50%;
}

.panel-cashinform-content .left-container button {
    background-color: var(--Button-Background-Gold);
    color: var(--TextColor-White);
}

.panel-cashinform-content .left-container fieldset{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.panel-cashinform-content .left-container fieldset .item {
    display: flex;
    
}







.panel-cashinform-content .right-container .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid gainsboro;
}

.panel-cashinform-content .right-container .title {
    font-size: smaller;
    font-weight: bold;
}

.panel-cashinform-content .right-container .date {
    font-size: smaller;
}

.panel-cashinform-content .right-container ul {
    list-style-type: none;
    padding: 0;
}

.panel-cashinform-content .right-container ul li {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid gainsboro;
    align-items: center;
    display: grid;
}

.panel-cashinform-content .right-container ul li{
    grid-template-columns: 50px 1fr 75px;
}

.panel-cashinform-content .right-container ul li img {
    height: 40px;
    width: 40px;
    border: 1px solid gainsboro;
    border-radius: 50%;
}

.panel-cashinform-content .right-container ul li .name {
    font-weight: bold;
}

.panel-cashinform-content .right-container ul li .date {
    font-weight: lighter;
}

.panel-cashinform-content .right-container ul li .amount {
    text-wrap: nowrap;
}

.panel-cashinform-content .right-container ul li .type {
    text-wrap: nowrap;
}


@media (min-width: 955px) {
    .panel-cashinform-content {
        gap: 10px;
    }

    .panel-cashinform-content .left-container .content-container{
        gap: 20px;
    }


    .panel-cashinform-content .left-container,
    .panel-cashinform-content .right-container{
       width: 100%;
    }
}

@media (min-width: 0px) and (max-width: 955px){
    .panel-cashinform-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .panel-cashinform-content .left-container,
    .panel-cashinform-content .right-container{
       width: 500px;
    }
}

@media (min-width: 0px) and (max-width: 802px){
    .panel-cashinform-content {
        padding: 20px;
    }

    .panel-cashinform-content .left-container,
    .panel-cashinform-content .right-container{
        width: 400px;
    }
}