h1 {
    border: 0.5px solid #CB8213 ;
    border: 0.5px solid #F5F5F5   ;
    border: 0.5px solid #333333    ;
    border: 0.5px solid #43A047     ;
    border: 0.5px solid #E53935     ;
    border: 0.5px solid #ECECEC     ;
}
