.panel-itemmanagement-query {
    width: 97%;
    margin-top: 10px;
}

.panel-itemmanagement-query-forms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

.panel-itemmanagement-query-forms .icon{
    margin-right: 8px;
}

.panel-itemmanagement-query-forms-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex: 2;
}

.panel-itemmanagement-query-forms-left .input-icon {
    position: absolute;
    height: 22px;
    top: 2px;
    left: 2px;
}

.panel-itemmanagement-query-forms-left .textbox {
    height: 25px;
    text-indent: 22px;
}

.panel-itemmanagement-query-forms-left div {
    position: relative;
}

.panel-itemmanagement-query-forms-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.panel-itemmanagement-query-forms-right button {
    width: 100%;
    height: 25px;
}

.panel-itemmanagement-content {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    width: 97%;
    display: grid;
    grid-template-columns: 2fr; /* 2fr 2fr or 2fr */
    grid-gap: 10px;
    padding-right: 8px;
}

/* ############# */
/* FOR LIST VIEW */
/* ############# */

.list-item-container {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 5px;
  padding: 1px;
  background-color: #f2f2f2;
  height: 125px;
  border-radius: 5px;
  border: 1px  solid var(--BackgroundPrimaryColor);
  gap: 10px;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}

.list-item-container .item-image img {
  height: 100%;
  aspect-ratio: 1/1;
}

.list-item-container .item-details-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 10px;
}

.list-item-container .item-details-container div {
  flex: 1;
}

.list-item-container .item-details-container .info-container div {
  margin-bottom: 10px;
}

.list-item-container .item-options {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 5px;
  bottom: 5px;
  gap: 5px;
}

.list-item-container .item-options button {
  margin-top: 5px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #f2f2f2;
  border: 0px;
  padding: 2px;
  border-radius: 3px;
  transition: 8ms ease;
}

.list-item-container .item-options button:hover {
  background-color: #CB821325;
}

/* ############# */
/* FOR GRID VIEW */
/* ############# */

.category-container {
  width: 100%; 
  overflow-x: auto;
  overflow-y: hidden;
  height: max-content;
}

.category-container .category-title p{
  padding-left: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.9rem;
}

.category-container .category-contents {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: 0px;
}

.category-container .category-contents::-webkit-scrollbar {
  height: 5px
}

.category-container .category-contents .item-container {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 150px;
  border-radius: 3px;
  scroll-snap-align: start;
  box-shadow: 0px 0px 3px 0px var(--AsccentColor);
  margin: 3px;
  margin-bottom: 6px;
  height: 225px;
  position: relative;
}

.category-container .category-contents .item-container .item-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-container .category-contents .item-container .item-image img {
  width: 100%;
  aspect-ratio: 1/1;
}

.category-container .category-contents .item-container .item-details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  padding: 3px;
}

.category-container .category-contents .item-container .item-details-container .info-container .info{
  margin-bottom: 3px;
}

.category-container .category-contents .item-options {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 5px;
  bottom: 5px;
  gap: 5px;
}


.category-container .category-contents .item-options button {
  margin-top: 5px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #f2f2f2;
  border: 0px;
  padding: 2px;
  border-radius: 3px;
  transition: 8ms ease;
}

.category-container .category-contents .item-options button:hover {
  background-color: #CB821325;
}




@media (min-width: 0px) and (max-width: 768px) {
    /* Styles for phones */
    .panel-itemmanagement-query-forms {
        
        flex-direction: column;
        gap: 10px;
    }
    .panel-itemmanagement-query-forms-right {
        justify-content: flex-start;
    }
    .panel-itemmanagement-content {
      grid-template-columns: 2fr;
    }
  }
  
  
  @media (min-width: 769px) and (max-width: 1000px) {
    /* Styles for laptops */
    .panel-itemmanagement-content {
      grid-template-columns: 2fr;
    }
    
  }
  
  @media (min-width: 1025px) {
    /* Styles for wide screens */
  
  }