


#panel-transactions {
    width: 100%;
    height: calc(100% - 25px);
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.titlebar {
    justify-self: center;
    font-size: 0.8em;
    padding-left: 5px;
    height: 25px;
    background: #CB8213;
    border: 2px solid #CB8213;
    color: white;
}

.panel-transactions-query {
    height: fit-content;
    margin-top: 20px;
    width: 97%;

}

.panel-transactions-query-forms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.panel-transactions-query-forms label {
    font-size: 0.7em;
    display:block;
}

.panel-transactions-query-forms div {
    min-width: 150px;
    width: 18%;
}

.panel-transactions-query-forms .textbox {
    margin-right: 10px;
    width: 100%;
}



.btn-default {
    width: 30%;
    padding: 5px;
    border-radius: 4px;
    margin-top: 15px;
    border: 2px solid #CB8213;
}