:root {
    --BackgroundPrimaryColor: #d3d3d3; /* Background */
    --BackgroundPanelColor: #ffffff; /* 2nd Background */
    --BackgroundTitleBarColor: #E3E4E6;
    --BackgroundContentTitleBarColor: #e7e7e7;
    --AsccentColor: #CB8213; /* Buttons */
    --TextColor: #4b4b4b; /* text */
    --DarkColor: #363636; /* text */
    --ErrorColor: #E53935; 
    --CorrectColor: #43A047;

    --TextColor-White: #ffffff;
    --TextColor-Red: #DA121A;
    --TextColor-Gold: #F9AE28;
    --TextColor-LightBlack: #333333;
    --TextColor-Black: #0F1419;

    --Button-Background-Red: #DA121A;
    --Button-Background-Active-Red: #9A110D;
    --Button-Background-Gold: #F9AE28;
    --Button-Background-Active-Gold: #DA121A;

    --Selected-Background-LightBlack: #333333;

    --Panel-Background-LightBlack: #333333;
    --Panel-Background-Gold: #FFCC00;
    --Panel-Background-Red: #DA121A;
    --Panel-Background-White: #ffffff;
    --Panel-Background-DarkWhite: #F2F2F2;

    --color-White: #ffffff;
    --color-DarkWhite: #F2F2F2;
    --color-Red: #DA121A;
    --color-DarkRed: #9A110D;
    --color-Gold: #FFCC00;
    --color-DarkGold: #F9AE28;
    --color-Gray: #282828;
    --color-LightBlack: #333333;
    --color-Black: #0F1419;
}

@font-face {
    font-family: 'font-montserratt';
    src: url('../fonts/Montserratt.ttf') format('truetype');
}

* {
    color: var(--TextColor);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    scrollbar-width: thin;
    scrollbar-color: #9c9c9c #E3E4E6;
}

*::-webkit-scrollbar {
    width: 8px; 
    height: 8px
}
  
*::-webkit-scrollbar-track {
    background-color: #E3E4E6; 
}
  
*::-webkit-scrollbar-thumb {
    background-color: #9c9c9c; 
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.8rem;
}
h6 {
    font-size: 0.5rem;
}

p {
    font-size: 0.8rem;
    color: var(--TextColor);
    word-wrap: break-word;
}

b {
    color: var(--DarkColor)
}

.curson-pointer {
    cursor: pointer;
}

/* 
    DROP DOWN 
*/

.dropdown {
    height: 200%;
    position: relative;
    display: flex;
}

.dropdown .dropdownbtn {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 5px;
    border: 1px solid var(--BackgroundContentTitleBarColor);
    transition: 2;
    background-color: var(--BackgroundPanelColor);
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dropdown .dropdownbtn img {
    height: 100%;
    transition: transform 0.3s ease;
}

.dropdown .dropdownbtn:hover, .dropdown .dropdownbtn:focus {
    border: 1px solid var(--AsccentColor);
}
  
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: fit-content;   
}

.dropdown .dropdown-content-top {
    top: -150px;
}

.dropdown .dropdown-content-bottom {
    top: 25px;
}

.dropdown .dropdown-content a {
    font-size: 0.9em;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown .dropdown-content .dropdown-selected {
    color: var(--AsccentColor);
    font-weight: 650;
}

.dropdown.dropdown .dropdown-content a:hover {background-color: #ddd;}
 
.dropdown .dropdownshow {display:block;}
  
.rotate {transform: rotate(180deg);}

/* 
    INPUT TEXT 
*/ 

input:not([type="submit"]):not([type="button"]):not([type="reset"]) {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid var(--BackgroundContentTitleBarColor);
    transition: 2;
    outline: none;
    background-color: var(--BackgroundPanelColor);
}

input:not([type="submit"]):not([type="button"]):not([type="reset"]):focus {
    border: 1px solid var(--AsccentColor);
}

/* 
    BUTTON
*/ 
button {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    background-color: var(--BackgroundPanelColor);
    gap: 5px;
    border: 1px solid var(--BackgroundContentTitleBarColor);
    align-items: center;
}

button:hover {
    background-color: #da891021;
    border: 1px solid #da891085;
}

button:active {
    background-color: #da891049;
    border: 1px solid var(--AsccentColor);
    box-shadow: 0px 0px 3px 0px var(--AsccentColor);
}

button img{
    height: 100%;
    aspect-ratio: 1/1;
}

/* 
    DIALOG BOX
*/ 
.dialog-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #36363670;
    z-index: 10;
    display: none; /* flex */
    align-items: center;
    justify-content: center;
}

.dialog-container .dialog-content {
    height: 80vh;
    width: 40vw;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.dialog-container .dialog-content .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--BackgroundTitleBarColor);
}

.dialog-container .dialog-content .header div{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dialog-container .dialog-content .header .title .text{
    font-weight: 750;
}

.dialog-container .dialog-content .header .close .close-btn:hover{
    font-weight: 750;
    color: var(--AsccentColor);
}

.dialog-container .dialog-content .body {
    background-color: white;
    padding: 10px;
    height: max-content;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* 
    NOTIFICATION BOX
*/ 
.notification-container {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 300px;
    z-index: 9;
    display: none; /* flex */
    flex-direction: column;
    gap: 10px;
}

.notification-container .notification-box{
    transition: ease 100ms;
    width: 100%;
    box-shadow: 0px 0px 4px 0px var(--AsccentColor);
    background-color: #c2c2c2;
}

.notification-container .notification-box .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--BackgroundTitleBarColor);
}

.notification-container .notification-box .header div{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.notification-container .notification-box .header .title .text{
    font-weight: 750;
}

.notification-container .notification-box .header .close .close-btn:hover{
    font-weight: 750;
    color: var(--AsccentColor);
}

.notification-container .notification-box .notification-content {
    padding: 5px;
    min-height: 100px;
}

.remove-notification {
    transform: translateX(100%);
}

.add-notification {
    transform: translateX(0);
}

@media (min-width: 0px) and (max-width: 768px) {
    /* Styles for phones */
    .dialog-container .dialog-content {
        width: 80vw;
    }
  }
  
  
  @media (min-width: 769px) and (max-width: 1000px) {
    /* Styles for laptops */
    .dialog-container .dialog-content {
        width: 60vw;
    }
    
  }
  
  @media (min-width: 1025px) {
    /* Styles for wide screens */
  
  }