:root {
    --BackgroundPrimaryColor: #E3E4E6; /* Background */
    --BackgroundPanelColor: #ffffff; /* 2nd Background */
    --BackgroundTitleBarColor: #E3E4E6;
    --BackgroundContentTitleBarColor: #d6d6d6;
    --AsccentColor: #CB8213; /* Buttons */
    --TextColor: #393939; /* text */
    --ErrorColor: #E53935; 
    --CorrectColor: #43A047;
  }

@font-face {
    font-family: 'font-montserratt';
    src: url('../fonts/Montserratt.ttf') format('truetype');
}
  
* {
    color: var(--TextColor);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    scrollbar-width: thin;
    scrollbar-color: #9c9c9c #E3E4E6;
}

*::-webkit-scrollbar {
    width: 8px; 
    height: 8px

}
  
*::-webkit-scrollbar-track {
    background-color: #E3E4E6; 
}
  
*::-webkit-scrollbar-thumb {
    background-color: #9c9c9c; 
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.8rem;
}
h6 {
    font-size: 0.5rem;
}

p {
    font-size: 0.8rem;
}





.curson-pointer {
    cursor: pointer;
}

/* 
    DROP DOWN 
*/

.dropdown {
    height: 200%;
    position: relative;
    display: flex;
}

.dropdown .dropdownbtn {
    width: fit-content;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 5px;
    border: 1px solid var(--BackgroundContentTitleBarColor);
    transition: 2;
    background-color: var(--BackgroundPanelColor);
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dropdown .dropdownbtn img {
    height: 100%;
    transition: transform 0.3s ease;
}

.dropdown .dropdownbtn:hover, .dropdown .dropdownbtn:focus {
    border: 1px solid var(--AsccentColor);
}
  
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: fit-content;   
}

.dropdown .dropdown-content-top {
    top: -150px;
}

.dropdown .dropdown-content-bottom {
    top: 25px;
}

.dropdown .dropdown-content a {
    font-size: 0.9em;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown .dropdown-content .dropdown-selected {
    color: var(--AsccentColor);
    font-weight: 650;
}

.dropdown.dropdown .dropdown-content a:hover {background-color: #ddd;}
 
.dropdown .dropdownshow {display:block;}
  
.rotate {transform: rotate(180deg);}

/* 
    INPUT TEXT 
*/ 

input:not([type="submit"]):not([type="button"]):not([type="reset"]) {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid var(--BackgroundContentTitleBarColor);
    transition: 2;
    outline: none;
    background-color: var(--BackgroundPanelColor);
}

input:not([type="submit"]):not([type="button"]):not([type="reset"]):focus {
    border: 1px solid var(--AsccentColor);
}

